<!DOCTYPE html>
<html>
   <head>
       <!--Import materialize.css-->
       <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}" />



      <title>Destiny Grimoire - card</title>
   </head>	
   <body>
        <nav>
            
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Destiny Grimoire</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/cardHome">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>

            </div>



        </nav>



        <div class="row" style="background-color: black;">
            
                <div class="col s4 offset-s4"; style="background-color: rgb(34, 36, 34);">
                    
                    
                    
                    <div class="card grey" style = "align-self: auto;">
                        <div class="card-image">
                            <img src = {{cardImgPath}} style="align-content: center;"/>
                                <div class="card-content">  
                                    <!--b is bold-->
                                    <h1><b>{{titleStr}}</b></h1>
                                    <!--i is italic-->
                                    <b><i style="font-size:larger;">{{subStr}}</i></b>
                                
                                    <p style="white-space: pre-line;">{{cardLore}}</p>
                                
                                
                                
                                 </div>
                        </div>
                    </div>
                </div>
                
                
            
        </div>
        
    </body>	
</html>